<section class="jumbotron" ng-controller="BannerController"
         ng-init="init(<%= JSON.stringify(user) %>, <%= JSON.stringify(lists) %>)">

  <div class="contain">
    <% if (owner && owner.givenName) { %>
      <h1 class="highlight-title">
        <%= owner.givenName + "'s Pelican" %>
      </h1>
    <% } else { %>
      <h1 class="highlight-title">The Pelican Blog</h1>
    <% } %>

    <% if (user && user._id) { %>
      <button class="cta" ng-click="isListModalOpen = true">+ Post some crap</button>
    <% } else { %>
      <button class="cta" send-to="/auth/facebook">Sign Up / Login</button>
    <% } %>

  </div>

  <% include ./list-modal.ejs %>
</section>
