  <script type="text/javascript" src="/app.js"></script>

  <script type="text/javascript" src="/controllers/HomeController.js"></script>
  <script type="text/javascript" src="/controllers/BannerController.js"></script>
  <script type="text/javascript" src="/controllers/ListsController.js"></script>
  <script type="text/javascript" src="/controllers/MenuController.js"></script>
  <script type="text/javascript" src="/controllers/ComposeModalController.js"></script>
  <script type="text/javascript" src="/controllers/RenameListController.js"></script>
  <script type="text/javascript" src="/controllers/ExtensionController.js"></script>
  <script type="text/javascript" src="/controllers/HeaderController.js"></script>
  <script type="text/javascript" src="/controllers/DiscoverController.js"></script>

  <script type="text/javascript" src="/services/apiService.js"></script>
  <script type="text/javascript" src="/services/searchService.js"></script>
  <script type="text/javascript" src="/services/validator.js"></script>

  <script type="text/javascript" src="/directives/helpers.js"></script>
  <script type="text/javascript" src="/filters/menuFilter.js"></script>

  </body>
</html>
