  <script type="text/javascript" src="/app.js"></script>

  <script type="text/javascript" src="/controllers/HomeController.js"></script>
  <script type="text/javascript" src="/controllers/BannerController.js"></script>
  <script type="text/javascript" src="/controllers/ListsController.js"></script>

  <script type="text/javascript" src="/services/apiService.js"></script>
  <script type="text/javascript" src="/services/validator.js"></script>

  <script type="text/javascript" src="/directives/helpers.js"></script>

  </body>
</html>
