<header>
  <div>
    <a href="/">Home</a>
    <% if (user && user._id) { %>
      <a href="/user/<%= user._id %>">/ Your Feed</a>
    <% } %>
  </div>

  <% if (user && user._id) { %>
    <a href="/logout">Logout</a>
  <% } else { %>
    <a href="/auth/facebook">Sign Up / Login</a>
  <% } %>
</header>
