<header>
  <div>
    <a href="/">Home</a>
    <% if (user && user._id) { %>
      <a href="/user/<%= user._id %>">/ Your Feed</a>
    <% } %>
  </div>

  <% if (user && user._id) { %>
    <div class="align">
      <a href="/logout">Logout</a>
      <% if (user.image) { %>
        <img src="<%= user.image %>" alt="<%= user.displayName %>" />
      <% } %>
    </div>
  <% } else { %>
    <a href="/auth/facebook">Sign Up / Login</a>
  <% } %>
</header>
