<header>
  <a href="/">Home</a>
  <% if (user && user._id) { %>
    <a href="/logout">Logout</a>
  <% } else { %>
    <a href="/auth/facebook">Sign Up / Login</a>
  <% } %>
</header>

<section class="jumbotron" ng-controller="BannerController" ng-init="init(<%= JSON.stringify(user) %>, <%= JSON.stringify(lists) %>)">
  <div class="contain">
    <% if (user && user.givenName) { %>
      <h1 class="highlight-title">
        <%= user.givenName + "'s Pelican" %>
      </h1>
      <button class="cto" ng-click="isListModalOpen = true" ng-show="user">+ Post some crap</button>
    <% } else { %>
      <h1 class="highlight-title">The Pelican Blog</h1>
      <button class="cto" send-to="/auth/facebook" ng-if="!user" ng-cloak>Sign Up / Login</button>
    <% } %>
  </div>

  <% include ./list-modal.ejs %>
</section>
