<header ng-controller="HeaderController" should-open-post>

  <div class="mobile-header">
    <div class="icon-mobile hamburger ion-navicon" open-side-menu></div>
    <div class="icon-mobile mobile-search ion-ios-search" open-header-search></div>
  </div>

  <form class="search" ng-submit="search(query)" id="header-search">
    <input ng-model="query" placeholder="Search users, lists, or posts..." escape-search/>
    <div class="icon-close ion-android-close" ng-click="query = ''" ng-show="query"></div>
    <button><span class="ion-ios-search-strong"></span></button>

    <div class="suggestions" ng-if="suggestions && query" ng-cloak>
      <div class="suggestion" ng-repeat="item in suggestions" ng-click="activateSuggestion(item)">
        <img ng-src="{{item.image}}" alt="item.text" ng-if="item.image" />
        <span class="icon ion-ios-folder-outline" ng-if="item.type === 'lists'"></span>
        <span class="icon ion-ios-list-outline" ng-if="item.type === 'posts'"></span>
        {{item.text}}
      </div>
    </div>
  </form>

  <div class="mobile-close">
    <a close-header-search>close</a>
  </div>

  <% if (user && user._id) { %>
    <a class="auth" href="/logout">Logout</a>
  <% } else { %>
    <a class="auth" href="/auth/facebook">Sign Up / Login</a>
  <% } %>
</header>
