<header>
  <a href="/auth/facebook">Auth</a>
</header>

<section class="jumbotron" ng-controller="BannerController">
  <div class="contain">
    <h1 class="highlight-title">The Pelican Blog</h1>
    <button class="cto" ng-click="isListModalOpen = true">+ Post some crap</button>
  </div>

  <% include ./list-modal.ejs %>
</section>
