<section class="modal-container" ng-show="isListModalOpen" ng-cloak>
  <div class="modal-backdrop" ng-click="closeListModal()"></div>

  <div class="modal">
    <h1>Add details</h1>
    <div class="icon ion-android-close pointer" ng-click="closeListModal()"></div>

    <div class="add-list" ng-show="!activeList">
      <input type="text" placeholder="List Name" ng-model="listTitle"/>
      <button class="cto" ng-click="addList(listTitle)">Create new list</button>
    </div>

    <div ng-repeat="list in lists" ng-show="!activeList">
      <div class="list" ng-click="activateList(list)">
        {{list.title}}
      </div>
    </div>

    <div class="body" ng-show="activeList">
      <input type="text" placeholder="Name" ng-model="newPost.title" />
      <input type="text" placeholder="Link" ng-model="newPost.link" />
      <textarea placeholder="Thoughts" ng-model="newPost.text"></textarea>

      <button class="cto" ng-click="addPost(newPost)">Post it!</button>
    </div>
  </div>
</section>
