<section class="menu" ng-controller="MenuController" ng-init="init(<%= JSON.stringify(user) %>, <%= JSON.stringify(lists) %>)">
  <div class="owner">
    <%= owner.givenName + "'s Pelican" %>
  </div>
  <div class="body">
    <div class="relative">
      <input type="text" ng-model="query" placeholder="Search..." escape-search/>
      <div class="icon ion-android-close" ng-click="query = ''" ng-show="query"></div>
    </div>
    <div class="list menu-list"
         ng-click="makeActive(list)"
         id="menu-list-{{list._id}}"
         ng-repeat="list in lists | menuSearch:query"
         menu-helper ng-cloak>
      <div>
        <p ng-bind-html="sanitizeHtml(list.title)"></p>
        <span class="icon ion-ios-locked-outline" ng-if="list.isPrivate"></span>
      </div>
      <div class="posts" ng-show="query || list.displayPosts">
        <hr />
        <div class="post" ng-repeat="post in list.posts" ng-click="openPostMenu(post, $index, $parent.$index)">
          <p ng-bind-html="sanitizeHtml(post.title)"></p>
        </div>
      </div>
    </div>
  </div>
</section>
