<section class="onboard modal-container" ng-init="init()" ng-controller="OnboardController">
  <div class="modal-backdrop"></div>
  <div class="modal">
    <div class="top">
      <img src="/css/onboard1.png" alt="Download the pelican chrome extension." />
    </div>

    <div class="bottom">
      <h2>
        Download our Chrome extension
        <br>
        and bookmark on the fly!
      </h2>

      <button class="cta" send-to="https://chrome.google.com/webstore/detail/pelican-blog/fifejldalccfblmcopgckhdjpjmlkgga" new-tab="true">Download Now</button>
    </div>
  </div>
</section>
