<section class="modal-container side-modal" ng-if="activePost" ng-cloak>
  <div class="modal-backdrop" ng-click="closePostModal()"></div>

  <div class="modal">
    <div class="close-modal ion-android-close pointer" ng-click="closePostModal()"></div>

    <div ng-if="!editingPost">
      <h2>{{activePost.title}}</h2>
      <a class="post-link" ng-href="{{activePost.link}}" ng-if="activePost.link" target="blank">{{activePost.link}}</a>
      <div class="text-container">
        <p class="text">{{activePost.text}}</p>
      </div>
    </div>

    <div ng-if="editingPost">
      <input class="title-edit" type="text" ng-model="editablePost.title" />
      <input class="post-link link-edit" type="text" ng-model="editablePost.link" placeholder="Post link" />
      <textarea class="post-text" ng-model="editablePost.text"></textarea>

      <div class="edit-options">
        <button ng-click="updatePost(editablePost)" class="cta">Update post</button>
        <a ng-click="turnOffEditPost()">Cancel edit</a>
      </div>
    </div>

    <div class="post-options" ng-if="!editingPost && user && (user._id === lists[0].owner)">
      <a class="delete" ng-click="deletePost(activePost)">Delete post</a>
      <a class="edit" ng-click="turnOnEditPost($index)">Edit post</a>
    </div>
  </div>

</section>
