@header-height: 60px;
header {
  width: 100%;
  height: @header-height;
  background-color: #fff;
  // border-bottom: 1px solid @border-gray;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 1px rgba(0,0,0,.14);

  a {
    line-height: @header-height;
  }

  .search {
    @item-heights: 40px;
    display: flex;
    align-items: center;

    input {
      height: @item-heights;
      max-width: 50%;
      width: 1000px;
      border: 1px solid @border-gray;
      border-right: none;
      border-top-left-radius: @br;
      border-bottom-left-radius: @br;
      padding: 10px;
      background-color: @almost-white;

      &:focus {
        outline: none;
        border: 1px solid @blue;
        border-right: none;
      }
    }

    button {
      height: @item-heights;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  .align {
    display: flex;
    align-items: center;

    img {
      height: @img-width;
      margin-left: 20px;
      cursor: pointer;
    }
  }
}

body.with-menu {
  header {
    position: fixed;
    top: 0;
    right: 0;
    width: calc(~"100% - "@menu-width);
    z-index: 2;
  }
}

section.jumbotron {
  width: 100%;
  background-color: @light-blue;
  height: 300px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  .contain {
    width: 1200px;
    max-width: 100%;
    padding: 0 20px;
    margin: auto;
  }
}
