@header-height: 60px;
header {
  width: 100%;
  height: @header-height;
  background-color: #fff;
  // border-bottom: 1px solid @border-gray;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 1px rgba(0,0,0,.14);

  a {
    line-height: @header-height;
  }
}

section.jumbotron {
  width: 100%;
  background-color: @light-blue;
  height: 300px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  .contain {
    width: 1200px;
    max-width: 100%;
    padding: 0 20px;
    margin: auto;
  }
}
