section.lists {
  width: 1200px;
  padding: 0 20px;
  max-width: 100%;
  margin: 40px auto;

  .compose {
    @local-dimensions: 60px;
    width: @local-dimensions;
    height: @local-dimensions;

    background-color: @blue;
    border-radius: 100%;
    color: #fff;

    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 2px 0 0 0;
    font-size: 30px;
    box-shadow: 0px 0px 10px -3px @dim-blue;

    &:hover {
      background-color: @dark-blue;
    }
  }
}
