section.post {
  @post-space: 10px;
  width: @post-width;
  max-width: 100%;

  .body {
    border-radius: @br;
    border: 1px solid @border-gray;
    cursor: pointer;
    background-color: #fff;
    padding: 5px;

    a {
      // margin-bottom: @post-space;
      display: inherit;
      padding: @post-space;

      &:hover {
        background-color: @light-gray;
      }
    }

    &:hover {
      background-color: lighten(@light-gray, 3%);
    }
  }

  .author {
    margin: 10px 15px 30px;

    a {
      font-weight: 200;
      color: #464646;
      display: flex;
      align-items: center;

      &:hover {
        color: @blue;
      }
    }

    img {
      border-radius: 100px;
      max-width: 30px;
      margin-right: 10px;
    }
  }

  .text {
    color: darken(@gray, 20%);
    font-weight: 200;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 @post-space;
  }

  p {
    font-weight: 300;
  }

  .post-title {
    @local-height: 1.3em;
    font-size: @local-height;
    line-height: @local-height;
    margin: @post-space 0;
    padding: 0 @post-space;
  }
}
