div.post {
  width: 600px;
  max-width: 100%;
  border-radius: @br;
  border: 1px solid @border-gray;
  cursor: pointer;
  background-color: #fff;
  padding: 0 10px;

  &:hover {
    background-color: lighten(@light-gray, 3%);
  }
}
