<% include ./partials/head.ejs %>
  <% include ./partials/header.ejs %>
  <% include ./partials/banner.ejs %>

  <section class="lists" ng-controller="HomeController" ng-init="init(<%= JSON.stringify(user) %>, <%= JSON.stringify(posts) %>)">

      <section class="post" ng-repeat="post in posts" ng-cloak>
        <div class="body" ng-click="openPost(post)">
          <p class="post-title">{{post.title}}</p>
          <a ng-href="{{post.link}}" target="blank" ng-if="post.link" ng-click="$event.stopPropagation();">{{post.link}}</a>
          <p class="text" ng-if="post.text">{{post.text}}</p>
        </div>
        <div class="author">
          <a href="/user/{{post.owner._id}}">
            <img ng-src="{{post.owner.image}}" />
            {{post.owner.displayName}}
          </a>
        </div>
      </section>


    <% include ./partials/post-modal.ejs %>
  </section>

<% include ./partials/footer.ejs %>
