<% include ./partials/head-light.ejs %>
<% include ./partials/header.ejs %>

<body class="with-menu">
  <% include ./partials/menu.ejs %>
  <section class="lists user" ng-controller="ListsController" ng-init="init(<%= JSON.stringify(user) %>, <%= JSON.stringify(lists) %>, <%= JSON.stringify(owner) %>)" ng-cloak>

    <div class="list" id="list-{{list._id}}"
         ng-repeat="list in lists"
         ng-class="{ 'private-list': list.isPrivate }">
      <h2>
        <span class="locked-info ion-ios-locked"
              ng-if="user && user._id && (list.owner == user._id) && list.isPrivate"
              ng-click="toggleListLock(list)"></span>

        {{list.title}}

        <div class="settings-icon icon"
              ng-class="list.isOpenSettings ? 'ion-ios-settings-strong' : 'ion-ios-settings'"
              ng-if="user && user._id && (list.owner == user._id)"
              ng-click="openListSettings(list)" loose-focus>

          <div class="list-settings" ng-show="list.isOpenSettings" ng-click="$event.stopPropagation();">
            <div class="arrow-up"></div>

            <div class="setting privacy" ng-show="list.isPrivate" ng-click="toggleListLock(list)">
              Make list public
              <span class="icon ion-ios-unlocked-outline"></span>
            </div>

            <div class="setting privacy" ng-show="!list.isPrivate" ng-click="toggleListLock(list)">
              Make list private
              <span class="icon ion-ios-locked"></span>
            </div>

            <div class="setting edit-list" ng-click="openRenameListModal(list)">
              Edit list's name
              <span class="icon ion-ios-compose-outline"></span>
            </div>

            <div class="setting delete-list" ng-click="deleteList(list, $index)">
              Delete this list
              <span class="icon ion-ios-trash-outline"></span>
            </div>
          </div>
        </div>
      </h2>

      <section class="post" ng-click="openPost(post, $index, $parent.$index)" ng-repeat="post in list.posts">
        <div class="body">
          <p class="post-title">{{post.title}}</p>
          <a ng-href="{{post.link}}" target="blank"
             ng-click="$event.stopPropagation();"
             ng-if="post.link">{{post.link}}</a>
          <p class="text" ng-if="post.text">{{post.text}}</p>
        </div>
        <div class="author"></div>
      </section>

    </div>

    <button class="compose" ng-click="openComposeModal()" ng-if="user && user._id && owner._id === user._id">
      <img src="/css/arrow.png" ng-if="!deactivateWelcome" />
      <span class="icon ion-android-add"></span>
    </button>
    <% include ./partials/post-modal.ejs %>
    <% include ./partials/list-modal.ejs %>
    <% include ./partials/edit-list-modal.ejs %>
  </section>

<% include ./partials/footer.ejs %>
