<% include ./partials/head-light.ejs %>
<% include ./partials/header.ejs %>

<body class="with-menu">
  <% include ./partials/menu.ejs %>
  <section class="lists user" ng-controller="ListsController" ng-init="init(<%= JSON.stringify(user) %>, <%= JSON.stringify(lists) %>)" ng-cloak>

    <div class="list" id="list-{{list._id}}"
         ng-repeat="list in lists"
         ng-class="{ 'private-list': list.isPrivate }">
      <h2>
        {{list.title}}
        <span class="icon"
              ng-class="list.isPrivate ? 'ion-ios-locked' : 'ion-ios-unlocked-outline'"
              ng-if="user && user._id"
              ng-click="toggleListLock(list)"></span>
      </h2>

      <section class="post" ng-click="openPost(post, $index, $parent.$index)" ng-repeat="post in list.posts">
        <div class="body">
          <p class="post-title">{{post.title}}</p>
          <a ng-href="{{post.link}}" target="blank">{{post.link}}</a>
          <p class="text" ng-if="post.text">{{post.text}}</p>
        </div>
        <div class="author"></div>
      </section>

    </div>

    <button class="compose" ng-click="openComposeModal()" ng-if="user && user._id"><span class="icon ion-android-add"></span></button>
    <% include ./partials/post-modal.ejs %>
    <% include ./partials/list-modal.ejs %>
  </section>

<% include ./partials/footer.ejs %>
